<div class="container">
    <div class="alert alert-info">
      <p>We&rsquo;ve processed <tt><%= @source_description %></tt>, and</p>

      <ul>
        <li class="mb-2">made all your CSS inline,</li>
        <li class="mb-2">changed relative links to absolute links,</li>
        <% unless @results[:options][:link_query_string].nil? or @results[:options][:link_query_string].empty? %><li class="mb-2">appended <tt>?<%= @results[:options][:link_query_string] %></tt> to your links,</li><% end %>
        <li class="mb-2">moved any CSS pseudo-classes (like <tt>:hover</tt>) to the <tt>&lt;body&gt;</tt>,</li>
        <% if @results[:options][:remove_ids] %><li class="mb-2">removed unused IDs,</li><% end %>
        <% if @results[:options][:remove_classes] %><li class="mb-2">removed classes,</li><% end %>
        <% if @results[:options][:remove_classes] %><li class="mb-2">removed comments,</li><% end %>
        <% if @results[:options][:remove_classes] %><li class="mb-2">left &lt;link&gt; and &lt;style&gt; tags in the &lt;head&gt;,</li><% end %>
        <li class="mb-2">checked your HTML and CSS for compatibility with e-mail programs, and</li>
        <li class="mb-2">created a plain-text version of your message</li>
    </ul>
   </div>


    <div class="mb-4">
      <h2>HTML Results</h2>
      <p><a href="<%= @results[:output][:html_file] %>" title="Contents of <%= @url %> with inline CSS">Click to view the HTML results</a></p>
      <textarea cols="80" rows="5" id="html_output" class="premailer_output"><%= HTMLEntities.new.encode(@results[:output][:html]) %></textarea>
    </div>

    <div class="mb-4">
      <h2>Plaintext Results</h2>
      <p><a href="<%= @results[:output][:txt_file] %>" title="Contents of <%= @url %> converted to plain text">Click to view the plain-text results</a></p>
      <textarea cols="80" rows="5" id="txt_output" class="premailer_output"><%= @results[:output][:txt] %></textarea>
    </div>

  <script type="text/javascript">
    <%  action_label = @source_description == 'your HTML content' ? 'Uploaded HTML' : 'Remote file' %>
    try {
      pageTracker._trackEvent("Premailer", "Processed", "<%= action_label %>");

    } catch(err) {}
  </script>
  <div class="meta thanks">Results not what you expected?  You can <a href="https://github.com/alexdunae/premailer/issues">create a bug report on GitHub</a>.  Be sure to include the URL that caused the problems.</div>
</div>

<% if @results[:warnings] %>
<div class="container">

  <h2 class="mt-4"><span>HTML and CSS warnings</span></h2>

  <% if @results[:warnings].length > 0 %>

  <p>Warnings are generated from several sources, including the <a href="http://www.email-standards.org/">Email Standards Project&rsquo;s guides</a>.</p>



  <table class="table warnings" id="premailer-warnings" summary="List of HTML and CSS warnings">
  <thead>
    <tr>
      <th>Property</th>
      <th>Support</th>
      <th>Unsupported clients</th>
    </tr>
    <tbody>
    <% @results[:warnings].each do |w| %>
    <%
      klass = case w[:level].downcase
      when "poor"
        "table-danger"
      when "risky"
        "table-warning"
      else
        "table-default"
      end




    %>
    <tr class="<%= klass %>">
      <td class="property"><%= w[:message] %></td>
      <td class="level"><%= w[:level].capitalize %></td>
      <td><%= w[:clients] %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
<p>None.</p>
<% end %>
<% end %>
</div>
</div>
